.afghanistan {
    background-image: url('../images/flag/Afghanistan-flag.png')!important;
}
.aland-islands {
    background-image: url('../images/flag/Aland-islands.png') !important;
}
.albania {
    background-image: url('../images/flag/Albania-flag.png')!important;
}
.qatar {
    background-image: url('../images/flag/Qatar-flag.png')!important;
}
.india {
    background-image: url('../images/flag/India-flag.png')!important;
}
.uae {
    background-image: url('../images/flag/United-arab-emirates.png')!important;
}
