<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ErpEntities" connectionString="metadata=res://*/Entities.ErpModel.csdl|res://*/Entities.ErpModel.ssdl|res://*/Entities.ErpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-S1CG0F2;initial catalog=AlFuzail;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationEntities" connectionString="metadata=res://*/Entities.ErpModel.csdl|res://*/Entities.ErpModel.ssdl|res://*/Entities.ErpModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=AspNetIdentity;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ErpModel" connectionString="data source=DESKTOP-S1CG0F2;initial catalog=AspNetIdentity;user id=sa;password=P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>