
@import 'compass';

@import 'util/icons';
@import 'util/mixins';

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

$icon-base-path: '../../images';

@include icon-16($icon-16-collections);
@include icon-32($icon-32-collections);

$data-view-border: #4AA0E5;

$color-primary: #7266ba;
$color-success: #27c24c;
$color-info: #23b7e5;
$color-warning: #fad733;
$color-white: #FFF;
$color-danger: #f05050;


a {
    text-decoration: none;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

.x-toolbar {
    .x-toolbar-text {
        padding: 0 20px;
    }
}

.x-app-header {
    font-family: Tahoma;
    box-shadow: 0 2px 2px rgba(0,0,0,0.05),0 1px 0 rgba(0,0,0,0.05);

    .x-app-header-body {
        padding: 5px;
        color: #5f5c57;
        font-size: 18px;
        font-weight: bold;
        font-family: Tahoma;

        background: url('../../images/backgrounds/header_bg_signup_office.jpg');
        background-repeat: no-repeat;
        background-position: top right;
        background-color: #FFF;


        &.x-panel-body-default {
            border-width: 0;
            border-right-width: 1px;
            border-bottom-width: 1px;
            border-color: rgb(222, 229, 231);
        }

        .x-app-name {
            padding: 5px;
            color: lighten(#4a4a4a, 10%);
        }

        .x-app-icon {
            padding-left: 35px;
            background: url('../../images/32/emblem_library.png') no-repeat;
        }

        .x-app-text-details {
            font-family: Tahoma;
            font-weight: bold;
            font-size: 12px;
            color: #333;
        }
    }

    .x-app-header-item {
        position: relative;
        display: block;

        a {
            padding-top: 15px;
            padding-bottom: 15px;
            line-height: 20px;
            color: #363f44;
            text-decoration: none;
            cursor: pointer;
        }
    }

    .x-profile-name {
        font-size: 14px;
        font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: normal;
        margin-right: 5px;
        margin-left: 5px;
        color: #4B485C;
    }
}

.x-app-dashboard-wrapper {

    &.x-panel-body-default {
        border-top: none;
        border-left: none;
        border-bottom: none;
        background: transparent;
    }

    .x-tab-bar {
        
        &.x-tab-bar-default-top {
            background-image: none;
            background-color: #FFF;
        }

        &.x-tab-bar-default {
            border-style: solid;
            border-color: transparent;
        }

        .x-tab-default-top {
            border-color: #FFF;
        }

        .x-tab-default-top {
            padding: 10px 15px;
            background-image: none;
            background-color: #FFF;
        }

        .x-tab-active {
            border-bottom: solid 1px #23b7e5;
        }

       .x-tab-bar-strip-default {
            border-style: solid;
            border-color: #dee5e7;
            background-color: #fff; 
        }
    }

   .x-panel-body-default {
        border-color: transparent;
    }

    .x-tabpanel-child
    {
        .x-panel-body-default {
            border-color: transparent;
        }
    }

    .x-tab-icon-el-default {
        outline: none;
        height: 16px;
        line-height: 16px;
        width: 16px;  
        padding: 10px;    
    }

}

.x-app-sidebar {
    box-shadow: 4px 0 3px -3px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);

    .x-app-sidebar-body {
        &.x-panel-body-default {
            border-width: 0;
            background: #FFF;
            border-right-width: 1px;
            border-left-width: 1px;
            border-right-color: rgb(222, 229, 231);
        }
    }
}

.x-customer-contact-list {

    margin-top: 8px;

    .x-customer-contact-list-item {
        clear: both;
        padding: 10px;
        display: block;
        cursor: pointer;
        overflow: hidden;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        border: solid 1px $data-view-border;
        @include box-shadow(2px 0 15px #ccc);

        &.x-item-selected {
            background-color: #E4E4E4;
            color: #000;
        }

        a.x-customer-contact-profile-pic {
            float: left;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-right: 20px;
            text-decoration: none;
            border: solid 2px lighten(#A6D2F5, 10%);

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border: solid 2px #4AA0E5;
            }
        }

        .x-customer-contact-list-item-body {
            
            h5 {
                margin: 0;
                padding: 0;
                color: #428BCA;
                font-size: 12px;
                margin-bottom: 5px;
                text-transform: uppercase;
            }

            span {
                display: block;
                color: #999999;
                margin-bottom: 10px;
                white-space: nowrap;
                margin-right: 5px;
                overflow: hidden;

                i {
                    margin-right: 8px;
                }
            }
        }

        .x-customer-contact-social-list {
            margin: 0;
            padding: 0;
            margin-bottom: 38px;

            li {
                float: left;
                list-style-type: none;
                margin: 0 5px 10px 0;

                a {
                    width: 30px;
                    margin: 0;
                    color: #666666;
                    display: block;
                    font-size: 16px;
                    padding: 3px 5px;
                    text-align: center;
                    border-radius: 2px;
                    border: 1px solid #DDDDDD;
                }
            }
        }
    }
}

.x-attachment-list {
    position: relative;

    .x-attachment-list-item {
        height: 64px;
        padding: 5px;
        cursor: pointer;
        margin-top: 5px;
        border: solid 1px $data-view-border;
        background-color: #FFF;
        @include box-shadow(0 2px 2px rgba(0, 0, 0, 0.05));

        img {
            width: 48px;
            height: 48px;
            float: left;
        }

        &.x-item-selected {
            background-color: #CCC;
            border: solid 1px darken(#CCC, 20%);
        }

        .x-caption {
            overflow: hidden;
            line-height: 1.5;
            padding-left: 5px;
            padding-top: 10px;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        .x-caption-dim {
            color: #c6c3c3;
            overflow: hidden;
            padding-left: 5px;
            white-space: nowrap;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }
    }
}

.x-attachment-details {

    .x-panel-body-default {
        border-right: none;
        border-bottom: none;
        @include background-image(linear-gradient(white, #faf6f6, #e9e8e8));
    }

    .x-file-info {
        background-color: #E4E4E4;
        border-bottom: solid 1px darken(#E4E4E4, 5%);
        padding: 5px;

        .x-header {
            font-size: 14px;
        }

        .x-details {
            font-size: 12px;
        }
    }

    .x-file-preview {
        text-align: center;

        img {
            width: 110px;
            height: 110px;
            margin-top: 5px;
        }
    }

    .x-attachment-info {
        text-align: left;
        padding: 0 5px;
        font-size: 12px;

        div {
            padding: 5px;
        }

        span {
            text-align: justify;
        }

        .x-label {
            color: lighten(#000, 45%);
        }
    }
}

.x-col-sm-6 {
    float: left;
    width: 50%;
    min-height: 1px;
    position: relative;
    padding-left: 15px;
}

.x-background-norepeat {
    background-repeat: none;
}

.x-file-vault-container {
    background-color: #FFF;
    border: solid 1px #FFF;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    color: #000;
    z-index: 0;

    .x-file-vault {
        position: relative;
        height: 45px;
        width: auto;
        overflow: hidden;
        border-bottom: 1px solid #ECECEE;

        .x-vault-item {
            position: relative;
            margin: 0 37px 0 48px;
            overflow: hidden;
            white-space: nowrap;

            &.x-file-name {
                margin-top: 7px;

                .x-file-name-text {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    -ms-text-overflow: ellipsis;
                    -o-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                }
            }

            &.x-file-progress {
                position: relative;
                margin: 0 37px 0 48px;
                font-family: Tahoma,Helvetica;
                font-size: 12px;
                color: inherit;
                overflow: hidden;
                white-space: nowrap;
            }

            &.x-file-delete {
                position: absolute;
                top: 15px;
                right: 15px;
                width: 16px;
                height: 16px;
                margin: 0;
                background-image: url(../../images/vault_buttons.gif);
                background-repeat: no-repeat;
                background-position: 0 -64px;
                cursor: pointer;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                user-select: none;
            }
        }

        .x-file-icon {
            position: absolute;
            left: 8px;
            top: 7px;
            width: 32px;
            height: 32px;
            cursor: default;
            overflow: hidden;

            .x-all-icons {
                position: absolute;
                left: 0;
                top: 0;
                width: 416px;
                height: 32px;
                background-repeat: no-repeat;
                background-image: url("../../images/vault_icons.gif");
                cursor: default;
            }

            &.x-file-doc {
                .x-all-icons {
                    left: -128px;
                }
            }

            &.x-file-jpg {
                .x-all-icons {
                    left: -224px;
                }
            }
        }
    }
}

.x-combo-table-list {
   
    ul.x-list-plain {
        overflow-x: hidden;
    }

}

.x-combo-list {

    border-collapse: collapse;

    th {
        padding: 5px;
        color: #767676;
        font-size: 12px;
        background: #F4F4F4;
        border: soli 1px #E5E5E5;
        font-family: 'segoe ui', arial, sans-serif;
    }

    tr {
        &:hover {
            background-color: #F4F4F4;
        }
    }

    td {
        padding: 5px;
        border: solid 1px #CCC;
    }
}

.x-activity-timeline {

    color: #58666e;
    font-size: 14px;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;

    &.x-border-left {
        border-left: solid 1px #dee5e7;
    }

    &.x-border-right {
        border-right: solid 1px #dee5e7;
    }

    .x-timline-item {
        position: relative;
        padding-bottom: 1px;
        border-color: #dee5e7;

        &:before {
            display: table;
            content: " ";
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            top: 4px;
            width: 9px;
            height: 9px;
            margin-left: -6px;
            background-color: #fff;
            border-color: inherit;
            border-style: solid;
            border-width: 1px;
            border-radius: 10px;
            content: '';
        }

        &.x-border-success {
            border-color: $color-success;
        }

        &.x-border-info {
            border-color: $color-info;
        }

        &.x-border-primary {
            border-color: $color-primary;
        }

        &.x-border-warning {
            border-color: $color-warning;
        }
    }

    .x-text-muted {
        color: #98a6ad;
    }

    .x-text-info {
        color: #23b7e5;
    }

    p {
        margin-bottom: 10px;
        margin-top: 0;
    }

    a {
        text-decoration: none;
    }
}

.x-margin-left {
    margin-left: 15px;
}

.x-margin-right {
    margin-right: 15px;
}

.x-margin-top {
    margin-top: 15px;
}

.x-margin-left-small {
    margin-left: 10px;
}

.x-padding-left {
    padding-left: 15px;
}

.x-padding-right {
    padding-right: 15px;
}

.x-text-center {
    text-align: center;
}

.x-btn-primary {
    
    &.x-btn-default-small {
        border-color: $color-primary;
        background: none;
        background-image: none;
        background-color: $color-primary;
        color: $color-white;
    }


    .x-btn-inner-default-small {
        color: $color-white;
        padding: 5px 10px;
        font-size: 12px;
    }
}

.x-dashboard-panel {

    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;

    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
   -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);

    &.x-padder-v {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.x-thumb-small {
    display: inline-block;
    width: 40px;

    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
}

.x-avatar {
    position: relative;
    display: block;
    white-space: nowrap;
    border-radius: 500px;

    img {
        width: 100%;
        border-radius: 500px;
    }

    i {
        margin: 1px;
        top: 0;
        left: 0;  
        width: 10px;
        height: 10px;
        margin: 2px;
        border-style: solid;
        border-width: 2px;
        border-radius: 100%;

        &.x-on {
            background-color: #27c24c;
        }

        &.x-bottom {
            top: auto;
            right: 0;
            bottom: 0;
            left: auto;
        }
    }
}

.x-user-list {
    padding-left: 0;
    margin-bottom: 20px;

    .x-user-list-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: $color-white;
    }

}

.x-reminder-panel {
    .x-grid-header-ct  {
        display: none;
    }
}

.x-favourites-panel {
    .x-panel-default {
        border-color: transparent;
    }
    .x-grid-body {
        border-color: transparent;
        border-top-color: transparent;
    }
    .x-header {
        line-height: 1.42857143;
        color: #58666e;
        font-size: 14px;
        border-bottom: solid 2px #99bbe8;
        padding: 5px;
    }
    .x-notification-list {
        margin-bottom: 20px;

        .x-notification-item {
            margin: 0 5px 5px 5px;
            border-radius: 0;
            padding: 6px 10px;
            border-color: #ddd;
            position: relative;
            display: block;
            border-style: solid;
            border-width: 1px;
            background-color: #FFF;

            span {
                display: block;
            }

            &.x-primary {
                border-color: $color-info;
                background: lighten($color-info, 45%);
            }

            &.x-warning {
                border-color: $color-warning;
                background: lighten($color-warning, 30%);
            }

            &.x-success {
                border-color: $color-success;
                background: lighten($color-success, 45%);
            }

            &.x-danger {
                border-color: $color-danger;
                background: lighten($color-danger, 35%);
            }
        }
    }
}

.x-border-white {
    border-color: #FFF;
}

.x-clear {
  display: block;
  overflow: hidden;
}

.x-pull-left {
    float: left !important;
}

.x-pull-right {
    float: right !important;
}

.x-font-thin {
  font-weight: 300;
}

.x-text-md {
    font-size:15px;
}

.x-text-info {
  color: #23b7e5;
}

.x-text-white {
  color: #FFF;
}

.x-text-xs {
  font-size: 12px;
}

.x-text-muted {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #98a6ad;
}

.x-top {
  position: absolute;
  top: 0;
  left: 0;
}

.x-bottom {
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.x-width-full {
  width: 100%;
}

.x-text-right {
  text-align: right;
}

h1, .h1 {
  font-size: 36px;
}

.x-text-warning {
    color: $color-warning;
}

.x-background-primary {
    color: #f4f3f9;
    background-color: $color-primary;
}

.x-background-info {
    color: #dcf2f8;
    background-color: $color-info;
}

.x-background-white {
    background-color: $color-white;
}